.header{
    background-color: #fcbf49;
    height: 60px;
    padding-top: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.menu-btn{
    position: static;
    background-color: #FF8A00;
    color: black;
    border: 0px none;
    border-radius: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    /* display: none; */
    margin-top: 0px;
    margin-left: 10px;

}

.menu-status, .menu-status-open, .menu-status-close{
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: #FF8A00;
    width: 100vw;
    text-align: left;
    z-index: 1;
}

.menu-list-mobile{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.menu-status{
    display: none;
}

.menu-status-open{
    animation: openMenu .5s forwards linear;
}

.menu-status-close{
    animation: closeMenu .5s forwards linear;
}

@keyframes openMenu {
    0%{
        left: -900px;
    }
    100%{
        left: 0px;
    }
}
@keyframes closeMenu {
    0%{
        left: 0px;
    }
    100%{
        left: -900px;
    }
}

.menu-desk-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.welcome{
    position: static;
    margin-top: 15px;
    font-size: 25px;
}

/* different screen size */

@media (min-width: 1001px){
    .menu-status, .menu-status-open, .menu-status-close{
        display: none;
    }
    .menu-btn{
        display: none;
    }
    .nav{
        justify-content: space-around;
    }
    .dummy{
        width: 500px;
    }
}

@media (max-width: 1000px){


    .menu-btn{
        display: block;
    }
    .menu-desk-list{
        display: none;
    }
    .dummy{
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 700px){
    .menu-btn{
        display: block;
    }
    .menu-desk-list{
        display: none;
    }
    .dummy{
        height: 50px;
        width: 50px;
    }

}