a{
    color: black;
    text-decoration: none;
}

.store-card-wrapper{
    width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.store-card{
    
    display: flex;
    flex-direction: row;
}

.store-logo{
    width: 50px;
    height: 50px;
}

.store-info{
    margin-top: 10px;
    margin-left: 5px;
}

.store-name{
    font-size: 20px;
    text-align: left;
}

.r-time{
    font-size: 14px;
    text-align: left;
}